<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmatValue">
        <activity
            android:name=".layouts.transfert.UserInfos2Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".layouts.transfert.UserInfosActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".layouts.reabonnement.ChangeStartimeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".layouts.reabonnement.PayStartimeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".layouts.reabonnement.ChangeCanalActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".layouts.reabonnement.PayCanalActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".layouts.reabonnement.StartimeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".layouts.directcash.RechargeFourActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".layouts.directcash.RechargeThreeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".layouts.directcash.RechargeTwoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".layouts.directcash.RechargeOneActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".layouts.ReabonnementTvActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".layouts.transfert.TransfertActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".layouts.TermActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".layouts.directcash.SoldeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".layouts.directcash.MoneyShareActivity2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".layouts.directcash.MoneyShareActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>